[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-bcrypt = "*"
flask = "*"
python-dotenv = "*"
pymongo = "*"
pydantic-mongo = "*"
pydantic = "*"
jwt = "*"
urllib3 = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.12"
